*{
    padding: 0;
    margin: 0;
    font-size: 28px;
    body{
        background-color:rgb(220, 247, 247);
    }
}
a{
  text-decoration: snow;
  color:rgb(8, 8, 8);
}

/* Navbar */
#navbar{
padding: 10px;
width: 90vw;
margin:auto;
top: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
position: sticky;
}

#navbar h4{
    display: block;
    font-size: 24px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bolder;
    color: white;
}

#navbar div a
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right:20px;
}

#navbar div a:hover{
 color:aqua;
}

#navbar div i{
    padding: 3px 10px;
    color: aqua;
    border:snow;
    font-size: 30px;
    border-radius: 15px;
}

/* landing */
.landing
{
    display: grid;
    grid-template-columns: auto auto;
    height: 100vh;
    width: 90vw;
    margin: auto;
    align-items:center;
    justify-content: space-around;
}
.landing div{
    width: 25vw;
}
.landing .right{
    border-radius: 15px;
    text-align: left;
    
}
.landing p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.landing button{
    border: none;
    background-color:silver;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
}
.landing button:hover{
background-color: rgb(245, 0, 0);
cursor: pointer;
}

.landing img{
    height: 50vh;
}


/* footer */
.footer{
    background-color: rgb(34, 34, 34);
    color: white;
    padding: 20px;
    text-align: center;
}

.footer div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:10px;
}

.footer a{
    color: white;
}

.footer a:hover{
    color: rgb(255, 0, 0);
}